[submodule "fpgamake"]
	path = fpgamake
	url = https://github.com/csail-csg/fpgamake.git
[submodule "coherence"]
	path = coherence
	url = https://github.com/csail-csg/coherence.git
[submodule "fpgautils"]
	path = fpgautils
	url = https://github.com/csail-csg/fpgautils.git
